<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900"><%= form_title %></h3>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <%= form_with(model: product) do |form| %>
        <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
              <% product.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <%= form.text_field :name, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300", placeholder: "Product name" %>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <%= form.label :price, class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <%= form.number_field :price, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300", placeholder: "Price" %>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <%= form.label :quantity, class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <%= form.number_field :quantity, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300", placeholder: "Quantity" %>
                </div>
              </div>
            </div>
            <div>
              <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.text_area :description, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md", placeholder: "Product description", rows: 3 %>
              </div>
            </div>


          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
